<footer class="site-footer">

  <div class="container">
    <div class="footer-cta">
      <div class="footer-cta-row">

        <div class="footer-cta-item">
          <strong>Need firmware or hardware?</strong>
          <a href="/about/">Engage me!</a>
        </div>

        <!-- <div class="footer-cta-item">
          <strong>Interested in my projects?</strong>
          <a href="/projects/">Study Notes</a>
        </div> -->

        <!-- <div class="footer-cta-item">
          <strong>Like my work?</strong>
          <a href="https://buymeacoffee.com/alvians">Buy me a tea!</a>
        </div> -->

      </div>
    </div>
  </div>

  <div class="footer-legal">
    <div class="container footer-legal-row">
      © {{ site.time | date: "%Y" }} {{ site.title }}
      · <a href="/privacy/">Privacy Policy</a>
      · <a href="/imprint/">Imprint</a>
      · <a href="/archive/">Archive</a>
    </div>
  </div>

</footer>